@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@600&display=swap");

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Trispace", sans-serif;
  background-image: url("../src/assets/whatsapp.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scroolbar-thumb {
  background: transparent;
}

::-webkit-scroolbar-thumb:hover {
  background: transparent;
}
